/* グローバルな定数定義 */
:root {
  /* 色 */
  --primary-color: #ebb128;
  --primary-text-color: #fff;
  --secondary-text-color: #000;

  /* フォント */
  --primary-font-family: sans-serif;
  --accent-font-familt: Quicksand, var(--primary-font-family);
}

/* グローバルなスタイル定義 */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
button,
input,
textarea {
  font-family: var(--primary-font-family);
  -webkit-font-smoothing: antialiased;
}
