/* グローバルな定数定義 */
:root {
  /* 色 */
  --primary-color: #ebb128;
  --primary-text-color: #fff;
  --secondary-text-color: #000;

  /* フォント */
  --primary-font-family: 'Noto Sans JP', sans-serif;
  --accent-font-family: Quicksand, var(--primary-font-family);
  --monospace-font-family: 'DM Mono', 'Noto Sans JP', monospace;
}

/* グローバルなスタイル定義 */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
button,
input,
textarea {
  font-family: var(--primary-font-family);
  -webkit-font-smoothing: antialiased;
}
